<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<description>管理者キーワード</description>
		<param-name>AdminKeyword</param-name>
		<param-value>ここに管理者キーワードを入力</param-value>
	</context-param>
	<context-param>
		<description>管理者チャット時のID</description>
		<param-name>AdminId</param-name>
		<param-value />
	</context-param>
	<context-param>
		<description>リモート管理を許可するかどうか</description>
		<param-name>EnebleRemoteAdmin</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>サブネットマスク</description>
		<param-name>SubNetmask</param-name>
		<param-value>24</param-value>
	</context-param>
	<context-param>
		<description>ID暗号化キー</description>
		<param-name>IdKey</param-name>
		<param-value>1,2,3,4</param-value>
	</context-param>
	<context-param>
		<description>接続認識時間</description>
		<param-name>EnterMaxMinutes</param-name>
		<param-value>0.5</param-value>
	</context-param>
	<context-param>
		<description>一覧保持数</description>
		<param-name>ListMaxCount</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<description>一覧保持時間</description>
		<param-name>ListMaxMinutes</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>Rank文字数</description>
		<param-name>RankMaxLength</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<description>コメント文字数</description>
		<param-name>CommentMaxLength</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<description>チャット有効・無効</description>
		<param-name>EnableChat</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>チャットプレフィックス有効・無効</description>
		<param-name>EnableChatPrefix</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>チャット文字数</description>
		<param-name>ChatMaxLength</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<description>チャット保持数</description>
		<param-name>ChatMaxCount</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<description>チャット保持時間</description>
		<param-name>ChatMaxMinutes</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>大会機能が使えるかどうか</description>
		<param-name>EnableTournament</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>大会保持数</description>
		<param-name>TournamentMaxCount</param-name>
		<param-value>50</param-value>
	</context-param>
	<context-param>
		<description>大会保持時間</description>
		<param-name>TournamentMaxMinutes</param-name>
		<param-value>180</param-value>
	</context-param>
	<context-param>
		<description>大会最大人数</description>
		<param-name>TournamentMaxUsers</param-name>
		<param-value>16</param-value>
	</context-param>
	<context-param>
		<description>自動マッチング機能有効・無効</description>
		<param-name>EnableAutoMatching</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>自動マッチング登録保持時間(状態変化の無いユーザー登録を残す時間)</description>
		<param-name>AutoMatchingMaxMinutes</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>自動マッチング対戦履歴保持時間(同じ相手とマッチングしないための履歴保持時間)</description>
		<param-name>AutoMatchingHistoryMaxMinutes</param-name>
		<param-value>60</param-value>
	</context-param>
	<context-param>
		<description>緋想天のウィンドウキャプション</description>
		<param-name>HisoutenWindowCaption</param-name>
		<param-value>東方緋想天 Ver1.06</param-value>
	</context-param>
	<context-param>
		<description>緋想天のクラス名</description>
		<param-name>HisoutenClassName</param-name>
		<param-value>th105_106</param-value>
	</context-param>
	<context-param>
		<description>緋想天のシーン情報アドレス</description>
		<param-name>HisoutenSceneIdAddress</param-name>
		<param-value>0x006ECE78</param-value>
	</context-param>
	<context-param>
		<description>緋想天の対戦中を示す値</description>
		<param-name>HisoutenFightingScenes</param-name>
		<param-value>8,9,10,11,13,14</param-value>
	</context-param>
	<context-param>
		<description>ゲーム情報(caption, className, address, scene:scene:scene:... ; caption, className, ...)</description>
		<param-name>GameInformations</param-name>
		<param-value>
            東方緋想天 Ver1.06, th105_106, 0x006ECE78, 8:9:10:11:13:14;
            東方非想天則 ～ 超弩級ギニョルの謎を追え Ver1.03, th123_103, 0x00867BC8, 8:9:10:11:13:14;
        </param-value>
	</context-param>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AddressService</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressService</servlet-name>
		<url-pattern>/AddressService</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>401</error-code>
		<location>/401.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
</web-app>
